<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        
    </head>
    <body>
        <div class="min-h-screen w-full bg-zinc-700 text-red-400 justify-center">
            <div class="border border-zinc-500">

                <h1 class="text-[2em] flex justify-center mb-[3em]"><%= filename %></h1>
                <p class="flex justify-center text-xl m-[2em]"><%= filedata %>.</p>
            </div>
                
        </div>
        
        
        
    </body>
</html>